<!DOCTYPE html>
<html lang="de-AT">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NetSearch</title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="/">
                Network Search
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>


                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Sites -->
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">/search-link
                        </a>
                    </li>

                    <!-- vertical line -->
                    <li class="nav-item">
                        <div style="
                                border-left: 1px solid lightgrey;
                                border-radius: 1px 1px 1px 1px;
                                height: 100%;">
                        </div>
                    </li>

                    <!-- horizontal line -->
                    <li class="nav-item">
                        <hr style="
                                color: lightgrey;
                                height: 1px;">
                        </hr>
                    </li>

                    <!-- Authentication Links

                    <li><a class="nav-link @php if(Route::currentRouteName() == 'login') echo 'active' @endphp"
                           href="/login">Login</a></li>
                    -->
                </ul>
            </div>
        </div>
    </nav>

    <main class="py-4">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
